<!-- <?xml version="1.0" encoding="utf-8"?> -->

<launch>
  <!-- road boundary detection -->
  <node pkg="road_boundary_detection" type="road_boundary_detection_node" name="road_boundary_detection" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find road_boundary_detection)/rviz/default.rviz" required="true" />

</launch>